{% extends 'base.html.twig' %}

{% block title %}
Liste des Users
{% endblock title %}

{% block content %}
<div>
    <a class="btn btn-success" href="{{env.base_path}}/users/">liste des users</a>
    <a class="btn btn-success" href="{{env.base_path}}/location/">liste des locations</a>
</div>
<ul class="row">
    {% for car in cars %}
    <div class="col-4 text-justify">
        <li class="btn text-justify border m-2">
            brand : <a href="{{env.base_path}}/cars/{{car.id}}"></a>{{car.brand}}</a> <br>
            model : {{car.model}} <br>
            </a>
            <a class="btn btn-info" <a href="{{env.base_path}}/cars/{{car.id}}">show</a>
            <a class="btn btn-danger" href="{{env.base_path}}/cars/{{car.id}}/delete">delete</a>
            <a class="btn btn-warning" href="{{env.base_path}}/cars/{{car.id}}/showedit">Edit</a>
        </li>
    </div>
    {% endfor %}
</ul>
<div>
    <a class="btn btn-info" href="{{env.base_path}}/cars/new" method="POST">Nouvelle voiture</a>
</div>
{% endblock content %}